.home-popular-container{
    background-color: darkgray;
    height: 70rem;
    padding: 5rem;
    display: flex;
    overflow-x: scroll;
}



.popular-title{
    font-size: 2.5rem;
}

.popular-card{
    margin: 1rem;
    
}
