.slider-container{
    position: relative;
    background-color: blue;
    height: 45rem;
    padding: 0 10rem;
    display: flex;
    
}


.slider-content{
    background-color: red;
    height: 100%;
    width: 100%;
    
    
}

.title{
    position: absolute;
    display: inline-block;
    width: auto;
    top: 5%;
    left: 55%;
    font-size: 2.5rem;
}

.movie-overview{
    position: absolute;
    left: 55%;
    top: 25%;
    width:40rem;
    height: 20rem;
    line-height: 2rem;
    font-size: 1.6rem;
}

.image{
    height: auto;
    width: auto;
    position: relative;
    left: 30%;
    top: 45%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    

    
}

.icons{
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4rem;
    padding: 3rem;
    display: flex;
    height: auto;
    width: auto;




}
.previous, .next{
    color: white;
    cursor: pointer;
}
.previous{
    color: white;
    margin: 2rem;
    polyline{
        stroke:#fff
    }
}
.next{
    margin: 2rem;

    polyline{
        stroke:#fff
    }
    }

